<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  width="690"
  height="740"
  shape-rendering="optimizeSpeed"
>
  <g>
    <rect
      x="50"
      y="80"
      width="167"
      height="30"
      style="fill: #a5d6a7; stroke: #444; stroke-width: 1"
    />

    <line
      x1="60"
      y1="80"
      x2="60"
      y2="110"
      style="fill: #a5d6a7; stroke: #444; stroke-width: 1"
    />
    <line
      x1="207"
      y1="80"
      x2="207"
      y2="110"
      style="fill: #a5d6a7; stroke: #444; stroke-width: 1"
    />

    <title>animasi = () =&gt;</title>
    <text x="75" y="100" font-family="monospace" font-size="13" fill="#222">
      <tspan x="75" y="100">animasi = () =&gt;</tspan>
    </text>
  </g>
  <g>
    <rect
      x="87"
      y="128.5"
      width="131.39999999999998"
      height="30"
      rx="3"
      ry="3"
      style="fill: #90caf9; stroke: #444; stroke-width: 1"
    />
    <title>x = hitungX()</title>
    <text x="102" y="148.5" font-family="monospace" font-size="13" fill="#222">
      <tspan x="102" y="148.5">x = hitungX()</tspan>
    </text>
  </g>
  <g>
    <rect
      x="87"
      y="177"
      width="131.39999999999998"
      height="30"
      rx="3"
      ry="3"
      style="fill: #90caf9; stroke: #444; stroke-width: 1"
    />
    <title>y = hitungY()</title>
    <text x="102" y="197" font-family="monospace" font-size="13" fill="#222">
      <tspan x="102" y="197">y = hitungY()</tspan>
    </text>
  </g>
  <g>
    <rect
      x="87"
      y="225.5"
      width="162.6"
      height="30"
      rx="2"
      ry="2"
      style="fill: #c5e1a5; stroke: #444; stroke-width: 1"
    />
    <title>bersihkanCanvas()</title>
    <text x="102" y="245.5" font-family="monospace" font-size="13" fill="#222">
      <tspan x="102" y="245.5">bersihkanCanvas()</tspan>
    </text>
  </g>
  <g>
    <rect
      x="87"
      y="274"
      width="170.4"
      height="30"
      rx="2"
      ry="2"
      style="fill: #c5e1a5; stroke: #444; stroke-width: 1"
    />
    <title>gambarBackground()</title>
    <text x="102" y="294" font-family="monospace" font-size="13" fill="#222">
      <tspan x="102" y="294">gambarBackground()</tspan>
    </text>
  </g>
  <g>
    <rect
      x="87"
      y="322.5"
      width="123.6"
      height="30"
      rx="2"
      ry="2"
      style="fill: #c5e1a5; stroke: #444; stroke-width: 1"
    />
    <title>textDetail()</title>
    <text x="102" y="342.5" font-family="monospace" font-size="13" fill="#222">
      <tspan x="102" y="342.5">textDetail()</tspan>
    </text>
  </g>
  <g>
    <rect
      x="87"
      y="371"
      width="154.8"
      height="30"
      rx="2"
      ry="2"
      style="fill: #c5e1a5; stroke: #444; stroke-width: 1"
    />
    <title>tinggiMaksimum()</title>
    <text x="102" y="391" font-family="monospace" font-size="13" fill="#222">
      <tspan x="102" y="391">tinggiMaksimum()</tspan>
    </text>
  </g>
  <g>
    <rect
      x="87"
      y="419.5"
      width="396.59999999999997"
      height="30"
      rx="2"
      ry="2"
      style="fill: #c5e1a5; stroke: #444; stroke-width: 1"
    />
    <title>gambarBola(x, canvas.height - y, 'white', true)</title>
    <text x="102" y="439.5" font-family="monospace" font-size="13" fill="#222">
      <tspan x="102" y="439.5">
        gambarBola(x, canvas.height - y, 'white', true)
      </tspan>
    </text>
  </g>
  <g>
    <rect
      x="87"
      y="468"
      width="162.6"
      height="30"
      rx="2"
      ry="2"
      style="fill: #c5e1a5; stroke: #444; stroke-width: 1"
    />
    <title>gambarJejakBola()</title>
    <text x="102" y="488" font-family="monospace" font-size="13" fill="#222">
      <tspan x="102" y="488">gambarJejakBola()</tspan>
    </text>
  </g>
  <g>
    <rect
      x="117"
      y="531.5"
      width="223.79999999999998"
      height="30"
      rx="3"
      ry="3"
      style="fill: #ce93d8; stroke: #444; stroke-width: 1"
    />
    <polygon
      points="87,546.5 117,516.5 147,546.5 117,576.5"
      style="fill: #ce93d8; stroke: #444; stroke-width: 1"
    />
    <title>(waktu &gt; 0 &amp;&amp; y &lt;= 0)</title>
    <text x="162" y="551.5" font-family="monospace" font-size="13" fill="#222">
      <tspan x="162" y="551.5">(waktu &gt; 0 &amp;&amp; y &lt;= 0)</tspan>
    </text>

    <text
      x="109.2"
      y="551.5"
      font-family="monospace"
      font-size="13"
      fill="#222"
    >
      if
    </text>
    <text
      x="124.8"
      y="578.45"
      font-family="monospace"
      font-size="13"
      fill="#222"
    >
      +
    </text>
    <text
      x="344.69999999999993"
      y="544.55"
      font-family="monospace"
      font-size="13"
      fill="#222"
    >
      -
    </text>
  </g>
  <g>
    <rect
      x="137"
      y="586.5"
      width="131.39999999999998"
      height="30"
      rx="2"
      ry="2"
      style="fill: #c5e1a5; stroke: #444; stroke-width: 1"
    />
    <title>enableInput()</title>
    <text x="152" y="606.5" font-family="monospace" font-size="13" fill="#222">
      <tspan x="152" y="606.5">enableInput()</tspan>
    </text>
  </g>
  <g>
    <rect
      x="137"
      y="635"
      width="76.8"
      height="30"
      rx="3"
      ry="3"
      style="fill: #90caf9; stroke: #444; stroke-width: 1"
    />

    <line
      x1="213.8"
      y1="645"
      x2="218.8"
      y2="645"
      style="fill: #a5d6a7; stroke: #444; stroke-width: 1"
    />

    <line
      x1="213.8"
      y1="655"
      x2="218.8"
      y2="655"
      style="fill: #a5d6a7; stroke: #444; stroke-width: 1"
    />

    <path
      d="M218.8, 639 L234.8, 650 L218.8, 661 Z"
      fill="#a5d6a7"
      stroke="#444"
      stroke-width="1"
    />

    <title>return</title>
    <text x="152" y="655" font-family="monospace" font-size="13" fill="#222">
      <tspan x="152" y="655">return</tspan>
    </text>
  </g>
  <g>
    <rect
      x="400.79999999999995"
      y="586.5"
      width="264"
      height="30"
      rx="2"
      ry="2"
      style="fill: #c5e1a5; stroke: #444; stroke-width: 1"
    />
    <title>requestAnimationFrame(animasi)</title>
    <text
      x="415.79999999999995"
      y="606.5"
      font-family="monospace"
      font-size="13"
      fill="#222"
    >
      <tspan x="415.79999999999995" y="606.5">
        requestAnimationFrame(animasi)
      </tspan>
    </text>
  </g>
  <g>
    <rect
      x="400.79999999999995"
      y="635"
      width="147"
      height="30"
      rx="2"
      ry="2"
      style="fill: #c5e1a5; stroke: #444; stroke-width: 1"
    />
    <title>disabledInput()</title>
    <text
      x="415.79999999999995"
      y="655"
      font-family="monospace"
      font-size="13"
      fill="#222"
    >
      <tspan x="415.79999999999995" y="655">disabledInput()</tspan>
    </text>
  </g>
  <g>
    <rect
      x="87"
      y="685"
      width="131.39999999999998"
      height="30"
      rx="2"
      ry="2"
      style="fill: #c5e1a5; stroke: #444; stroke-width: 1"
    />
    <title>tambahWaktu()</title>
    <text x="102" y="705" font-family="monospace" font-size="13" fill="#222">
      <tspan x="102" y="705">tambahWaktu()</tspan>
    </text>
  </g>
  <g>
    <rect
      x="25"
      y="13.75"
      width="216.6"
      height="24"
      style="fill: #fff59d; stroke: #444; stroke-width: 1"
    />
    <circle
      cx="25"
      cy="25"
      r="15"
      style="fill: #fff59d; stroke: #444; stroke-width: 1"
    />
    <title>Program: source module</title>
    <text x="55" y="30" font-family="monospace" font-size="13" fill="#222">
      <tspan x="55" y="30">Program: source module</tspan>
    </text>
  </g>
  <g>
    <path
      d="M25, 40 L25 91 Q25 95                 29 95                 L42 95 "
      style="fill: none; stroke: #444; stroke-width: 1"
    />
    <path d="M42, 92 L50, 95 L42, 98 Z" fill="#333" />
  </g>
  <g>
    <path
      d="M68.5, 110 L68.5 139.5 Q68.5 143.5                 72.5 143.5                 L79 143.5 "
      style="fill: none; stroke: #444; stroke-width: 1"
    />
    <path d="M79, 140.5 L87, 143.5 L79, 146.5 Z" fill="#333" />
  </g>
  <g>
    <path
      d="M68.5, 110 L68.5 188 Q68.5 192                 72.5 192                 L79 192 "
      style="fill: none; stroke: #444; stroke-width: 1"
    />
    <path d="M79, 189 L87, 192 L79, 195 Z" fill="#333" />
  </g>
  <g>
    <path
      d="M68.5, 110 L68.5 236.5 Q68.5 240.5                 72.5 240.5                 L79 240.5 "
      style="fill: none; stroke: #444; stroke-width: 1"
    />
    <path d="M79, 237.5 L87, 240.5 L79, 243.5 Z" fill="#333" />
  </g>
  <g>
    <path
      d="M68.5, 110 L68.5 285 Q68.5 289                 72.5 289                 L79 289 "
      style="fill: none; stroke: #444; stroke-width: 1"
    />
    <path d="M79, 286 L87, 289 L79, 292 Z" fill="#333" />
  </g>
  <g>
    <path
      d="M68.5, 110 L68.5 333.5 Q68.5 337.5                 72.5 337.5                 L79 337.5 "
      style="fill: none; stroke: #444; stroke-width: 1"
    />
    <path d="M79, 334.5 L87, 337.5 L79, 340.5 Z" fill="#333" />
  </g>
  <g>
    <path
      d="M68.5, 110 L68.5 382 Q68.5 386                 72.5 386                 L79 386 "
      style="fill: none; stroke: #444; stroke-width: 1"
    />
    <path d="M79, 383 L87, 386 L79, 389 Z" fill="#333" />
  </g>
  <g>
    <path
      d="M68.5, 110 L68.5 430.5 Q68.5 434.5                 72.5 434.5                 L79 434.5 "
      style="fill: none; stroke: #444; stroke-width: 1"
    />
    <path d="M79, 431.5 L87, 434.5 L79, 437.5 Z" fill="#333" />
  </g>
  <g>
    <path
      d="M68.5, 110 L68.5 479 Q68.5 483                 72.5 483                 L79 483 "
      style="fill: none; stroke: #444; stroke-width: 1"
    />
    <path d="M79, 480 L87, 483 L79, 486 Z" fill="#333" />
  </g>
  <g>
    <path
      d="M68.5, 110 L68.5 542.5 Q68.5 546.5                 72.5 546.5                 L79 546.5 "
      style="fill: none; stroke: #444; stroke-width: 1"
    />
    <path d="M79, 543.5 L87, 546.5 L79, 549.5 Z" fill="#333" />
  </g>
  <g>
    <path
      d="M117, 576.5 L117 597.5 Q117 601.5                 121 601.5                 L129 601.5 "
      style="fill: none; stroke: #444; stroke-width: 1"
    />
    <path d="M129, 598.5 L137, 601.5 L129, 604.5 Z" fill="#333" />
  </g>
  <g>
    <path
      d="M117, 576.5 L117 646 Q117 650                 121 650                 L129 650 "
      style="fill: none; stroke: #444; stroke-width: 1"
    />
    <path d="M129, 647 L137, 650 L129, 653 Z" fill="#333" />
  </g>
  <g>
    <path
      d="M340.79999999999995, 546.5 L376.79999999999995 546.5  Q380.79999999999995 546.5                 380.79999999999995 550.5                 L380.79999999999995 593.5 Q380.79999999999995 601.5                 384.79999999999995 601.5                 L392.79999999999995 601.5 "
      style="fill: none; stroke: #444; stroke-width: 1"
    />
    <path
      d="M392.79999999999995, 598.5 L400.79999999999995, 601.5 L392.79999999999995, 604.5 Z"
      fill="#333"
    />
  </g>
  <g>
    <path
      d="M340.79999999999995, 546.5 L376.79999999999995 546.5  Q380.79999999999995 546.5                 380.79999999999995 550.5                 L380.79999999999995 642 Q380.79999999999995 650                 384.79999999999995 650                 L392.79999999999995 650 "
      style="fill: none; stroke: #444; stroke-width: 1"
    />
    <path
      d="M392.79999999999995, 647 L400.79999999999995, 650 L392.79999999999995, 653 Z"
      fill="#333"
    />
  </g>
  <g>
    <path
      d="M68.5, 110 L68.5 696 Q68.5 700                 72.5 700                 L79 700 "
      style="fill: none; stroke: #444; stroke-width: 1"
    />
    <path d="M79, 697 L87, 700 L79, 703 Z" fill="#333" />
  </g>
</svg>
