<!DOCTYPE svg PUBLIC "-//W3C//DTD SVG 1.1//EN" "http://www.w3.org/Graphics/SVG/1.1/DTD/svg11.dtd">
<svg
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  width="895"
  height="777"
  id="svg-1"
  shape-rendering="optimizeSpeed"
>
  <g>
    <rect
      x="50"
      y="80"
      width="167"
      height="30"
      style="fill: #a5d6a7; stroke: #444; stroke-width: 1"
    />

    <line
      x1="60"
      y1="80"
      x2="60"
      y2="110"
      style="fill: #a5d6a7; stroke: #444; stroke-width: 1"
    />
    <line
      x1="207"
      y1="80"
      x2="207"
      y2="110"
      style="fill: #a5d6a7; stroke: #444; stroke-width: 1"
    />

    <title>animasi = () =&gt;</title>
    <text x="75" y="100" font-family="monospace" font-size="13" fill="#222">
      <tspan x="75" y="100">animasi = () =&gt;</tspan>
    </text>
  </g>
  <g>
    <rect
      x="87"
      y="128.5"
      width="162.6"
      height="30"
      rx="2"
      ry="2"
      style="fill: #c5e1a5; stroke: #444; stroke-width: 1"
    />
    <title>bersihkanCanvas()</title>
    <text x="102" y="148.5" font-family="monospace" font-size="13" fill="#222">
      <tspan x="102" y="148.5">bersihkanCanvas()</tspan>
    </text>
  </g>
  <g>
    <rect
      x="87"
      y="177"
      width="170.4"
      height="30"
      rx="2"
      ry="2"
      style="fill: #c5e1a5; stroke: #444; stroke-width: 1"
    />
    <title>gambarBackground()</title>
    <text x="102" y="197" font-family="monospace" font-size="13" fill="#222">
      <tspan x="102" y="197">gambarBackground()</tspan>
    </text>
  </g>
  <g>
    <rect
      x="87"
      y="225.5"
      width="170.4"
      height="30"
      rx="2"
      ry="2"
      style="fill: #c5e1a5; stroke: #444; stroke-width: 1"
    />
    <title>menghitungPosisi()</title>
    <text x="102" y="245.5" font-family="monospace" font-size="13" fill="#222">
      <tspan x="102" y="245.5">menghitungPosisi()</tspan>
    </text>
  </g>
  <g>
    <rect
      x="87"
      y="274"
      width="193.79999999999998"
      height="30"
      rx="2"
      ry="2"
      style="fill: #c5e1a5; stroke: #444; stroke-width: 1"
    />
    <title>menghitungKecepatan()</title>
    <text x="102" y="294" font-family="monospace" font-size="13" fill="#222">
      <tspan x="102" y="294">menghitungKecepatan()</tspan>
    </text>
  </g>
  <g>
    <rect
      x="87"
      y="322.5"
      width="123.6"
      height="30"
      rx="2"
      ry="2"
      style="fill: #c5e1a5; stroke: #444; stroke-width: 1"
    />
    <title>gambarBola()</title>
    <text x="102" y="342.5" font-family="monospace" font-size="13" fill="#222">
      <tspan x="102" y="342.5">gambarBola()</tspan>
    </text>
  </g>
  <g>
    <rect
      x="87"
      y="371"
      width="131.39999999999998"
      height="30"
      rx="2"
      ry="2"
      style="fill: #c5e1a5; stroke: #444; stroke-width: 1"
    />
    <title>tambahWaktu()</title>
    <text x="102" y="391" font-family="monospace" font-size="13" fill="#222">
      <tspan x="102" y="391">tambahWaktu()</tspan>
    </text>
  </g>
  <g>
    <rect
      x="87"
      y="419.5"
      width="162.6"
      height="30"
      rx="2"
      ry="2"
      style="fill: #c5e1a5; stroke: #444; stroke-width: 1"
    />
    <title>menampilkanText()</title>
    <text x="102" y="439.5" font-family="monospace" font-size="13" fill="#222">
      <tspan x="102" y="439.5">menampilkanText()</tspan>
    </text>
  </g>
  <g>
    <rect
      x="117"
      y="483"
      width="294"
      height="30"
      rx="3"
      ry="3"
      style="fill: #ce93d8; stroke: #444; stroke-width: 1"
    />
    <polygon
      points="87,498 117,468 147,498 117,528"
      style="fill: #ce93d8; stroke: #444; stroke-width: 1"
    />
    <title>(posisiCanvas &lt; canvas.height)</title>
    <text x="162" y="503" font-family="monospace" font-size="13" fill="#222">
      <tspan x="162" y="503">(posisiCanvas &lt; canvas.height)</tspan>
    </text>

    <text x="109.2" y="503" font-family="monospace" font-size="13" fill="#222">
      if
    </text>
    <text
      x="124.8"
      y="529.95"
      font-family="monospace"
      font-size="13"
      fill="#222"
    >
      +
    </text>
    <text
      x="414.9"
      y="496.05"
      font-family="monospace"
      font-size="13"
      fill="#222"
    >
      -
    </text>
  </g>
  <g>
    <rect
      x="137"
      y="538"
      width="139.2"
      height="30"
      rx="2"
      ry="2"
      style="fill: #c5e1a5; stroke: #444; stroke-width: 1"
    />
    <title>disableInput()</title>
    <text x="152" y="558" font-family="monospace" font-size="13" fill="#222">
      <tspan x="152" y="558">disableInput()</tspan>
    </text>
  </g>
  <g>
    <rect
      x="137"
      y="586.5"
      width="264"
      height="30"
      rx="2"
      ry="2"
      style="fill: #c5e1a5; stroke: #444; stroke-width: 1"
    />
    <title>requestAnimationFrame(animasi)</title>
    <text x="152" y="606.5" font-family="monospace" font-size="13" fill="#222">
      <tspan x="152" y="606.5">requestAnimationFrame(animasi)</tspan>
    </text>
  </g>
  <g>
    <rect
      x="501"
      y="553"
      width="177"
      height="30"
      rx="3"
      ry="3"
      style="fill: #ce93d8; stroke: #444; stroke-width: 1"
    />
    <polygon
      points="471,568 501,538 531,568 501,598"
      style="fill: #ce93d8; stroke: #444; stroke-width: 1"
    />
    <title>(resetOtomatis)</title>
    <text x="546" y="573" font-family="monospace" font-size="13" fill="#222">
      <tspan x="546" y="573">(resetOtomatis)</tspan>
    </text>

    <text x="493.2" y="573" font-family="monospace" font-size="13" fill="#222">
      if
    </text>
    <text
      x="508.8"
      y="599.95"
      font-family="monospace"
      font-size="13"
      fill="#222"
    >
      +
    </text>
    <text
      x="681.9"
      y="566.05"
      font-family="monospace"
      font-size="13"
      fill="#222"
    >
      -
    </text>
  </g>
  <g>
    <rect
      x="521"
      y="608"
      width="147"
      height="30"
      rx="2"
      ry="2"
      style="fill: #c5e1a5; stroke: #444; stroke-width: 1"
    />
    <title>resetSimulasi()</title>
    <text x="536" y="628" font-family="monospace" font-size="13" fill="#222">
      <tspan x="536" y="628">resetSimulasi()</tspan>
    </text>
  </g>
  <g>
    <rect
      x="738"
      y="608"
      width="131.39999999999998"
      height="30"
      rx="2"
      ry="2"
      style="fill: #c5e1a5; stroke: #444; stroke-width: 1"
    />
    <title>enableInput()</title>
    <text x="753" y="628" font-family="monospace" font-size="13" fill="#222">
      <tspan x="753" y="628">enableInput()</tspan>
    </text>
  </g>
  <g>
    <rect
      x="50"
      y="673"
      width="323"
      height="30"
      style="fill: #a5d6a7; stroke: #444; stroke-width: 1"
    />

    <line
      x1="60"
      y1="673"
      x2="60"
      y2="703"
      style="fill: #a5d6a7; stroke: #444; stroke-width: 1"
    />
    <line
      x1="363"
      y1="673"
      x2="363"
      y2="703"
      style="fill: #a5d6a7; stroke: #444; stroke-width: 1"
    />

    <title>backgroundImage.onload = function()</title>
    <text x="75" y="693" font-family="monospace" font-size="13" fill="#222">
      <tspan x="75" y="693">backgroundImage.onload = function()</tspan>
    </text>
  </g>
  <g>
    <rect
      x="87"
      y="721.5"
      width="100.2"
      height="30"
      rx="2"
      ry="2"
      style="fill: #c5e1a5; stroke: #444; stroke-width: 1"
    />
    <title>animasi()</title>
    <text x="102" y="741.5" font-family="monospace" font-size="13" fill="#222">
      <tspan x="102" y="741.5">animasi()</tspan>
    </text>
  </g>
  <g>
    <rect
      x="25"
      y="13.75"
      width="216.6"
      height="24"
      style="fill: #fff59d; stroke: #444; stroke-width: 1"
    />
    <circle
      cx="25"
      cy="25"
      r="15"
      style="fill: #fff59d; stroke: #444; stroke-width: 1"
    />
    <title>Program: source module</title>
    <text x="55" y="30" font-family="monospace" font-size="13" fill="#222">
      <tspan x="55" y="30">Program: source module</tspan>
    </text>
  </g>
  <g>
    <path
      d="M25, 40 L25 91 Q25 95                 29 95                 L42 95 "
      style="fill: none; stroke: #444; stroke-width: 1"
    />
    <path d="M42, 92 L50, 95 L42, 98 Z" fill="#333" />
  </g>
  <g>
    <path
      d="M68.5, 110 L68.5 139.5 Q68.5 143.5                 72.5 143.5                 L79 143.5 "
      style="fill: none; stroke: #444; stroke-width: 1"
    />
    <path d="M79, 140.5 L87, 143.5 L79, 146.5 Z" fill="#333" />
  </g>
  <g>
    <path
      d="M68.5, 110 L68.5 188 Q68.5 192                 72.5 192                 L79 192 "
      style="fill: none; stroke: #444; stroke-width: 1"
    />
    <path d="M79, 189 L87, 192 L79, 195 Z" fill="#333" />
  </g>
  <g>
    <path
      d="M68.5, 110 L68.5 236.5 Q68.5 240.5                 72.5 240.5                 L79 240.5 "
      style="fill: none; stroke: #444; stroke-width: 1"
    />
    <path d="M79, 237.5 L87, 240.5 L79, 243.5 Z" fill="#333" />
  </g>
  <g>
    <path
      d="M68.5, 110 L68.5 285 Q68.5 289                 72.5 289                 L79 289 "
      style="fill: none; stroke: #444; stroke-width: 1"
    />
    <path d="M79, 286 L87, 289 L79, 292 Z" fill="#333" />
  </g>
  <g>
    <path
      d="M68.5, 110 L68.5 333.5 Q68.5 337.5                 72.5 337.5                 L79 337.5 "
      style="fill: none; stroke: #444; stroke-width: 1"
    />
    <path d="M79, 334.5 L87, 337.5 L79, 340.5 Z" fill="#333" />
  </g>
  <g>
    <path
      d="M68.5, 110 L68.5 382 Q68.5 386                 72.5 386                 L79 386 "
      style="fill: none; stroke: #444; stroke-width: 1"
    />
    <path d="M79, 383 L87, 386 L79, 389 Z" fill="#333" />
  </g>
  <g>
    <path
      d="M68.5, 110 L68.5 430.5 Q68.5 434.5                 72.5 434.5                 L79 434.5 "
      style="fill: none; stroke: #444; stroke-width: 1"
    />
    <path d="M79, 431.5 L87, 434.5 L79, 437.5 Z" fill="#333" />
  </g>
  <g>
    <path
      d="M68.5, 110 L68.5 494 Q68.5 498                 72.5 498                 L79 498 "
      style="fill: none; stroke: #444; stroke-width: 1"
    />
    <path d="M79, 495 L87, 498 L79, 501 Z" fill="#333" />
  </g>
  <g>
    <path
      d="M117, 528 L117 549 Q117 553                 121 553                 L129 553 "
      style="fill: none; stroke: #444; stroke-width: 1"
    />
    <path d="M129, 550 L137, 553 L129, 556 Z" fill="#333" />
  </g>
  <g>
    <path
      d="M117, 528 L117 597.5 Q117 601.5                 121 601.5                 L129 601.5 "
      style="fill: none; stroke: #444; stroke-width: 1"
    />
    <path d="M129, 598.5 L137, 601.5 L129, 604.5 Z" fill="#333" />
  </g>
  <g>
    <path
      d="M411, 498 L447 498  Q451 498                 451 502                 L451 560 Q451 568                 455 568                 L463 568 "
      style="fill: none; stroke: #444; stroke-width: 1"
    />
    <path d="M463, 565 L471, 568 L463, 571 Z" fill="#333" />
  </g>
  <g>
    <path
      d="M501, 598 L501 619 Q501 623                 505 623                 L513 623 "
      style="fill: none; stroke: #444; stroke-width: 1"
    />
    <path d="M513, 620 L521, 623 L513, 626 Z" fill="#333" />
  </g>
  <g>
    <path
      d="M678, 568 L714 568  Q718 568                 718 572                 L718 615 Q718 623                 722 623                 L730 623 "
      style="fill: none; stroke: #444; stroke-width: 1"
    />
    <path d="M730, 620 L738, 623 L730, 626 Z" fill="#333" />
  </g>
  <g>
    <path
      d="M25, 40 L25 684 Q25 688                 29 688                 L42 688 "
      style="fill: none; stroke: #444; stroke-width: 1"
    />
    <path d="M42, 685 L50, 688 L42, 691 Z" fill="#333" />
  </g>
  <g>
    <path
      d="M68.5, 703 L68.5 732.5 Q68.5 736.5                 72.5 736.5                 L79 736.5 "
      style="fill: none; stroke: #444; stroke-width: 1"
    />
    <path d="M79, 733.5 L87, 736.5 L79, 739.5 Z" fill="#333" />
  </g>
</svg>